
$keepnote-bg: #FAF9F6;
$keepnote-accent: #42B883;
$keepnote-secondary: #EEF8F2;
$keepnote-error-color: #FF6C8F;
$keepnote-card-box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.1);

$keepnote-text-family: Comfortaa, sans-serif;

$keepnote-text: #35495E;
$keepnote-text-dark: #0A0A0A;
$keepnote-text-grey: hsla(211, 28%, 29%, 0.7);

$keepnote-pastel-blue: #7BD3EA;
$keepnote-pastel-bland-pink: #E493B3;
$keepnote-pastel-pink: #FE97B0;
$keepnote-pastel-yellow: #EBEF95;
$keepnote-pastel-green: #C7DCA7;
$keepnote-pastel-seagreen: #54BAB9;
